<div>
  <h1 class="barname">
    Bad luck: no bars found
  </h1>
</div>
<div class="compass">
  <div class="letter">&uarr;</div>
  <div class="distance-display">0</div>
  <div class="degrees <%= params[:debug].present? ? '' : 'hidden' %>">
    <span class="value">0</span><span class="mark">°</span></div>
</div>
<div class="<%= params[:debug].present? ? '' : 'hidden' %>">
  <div class="position">
    No position
  </div>
  <div class="messages">

  </div>

  <div class="distance">

  </div>
</div>