$('.messages').html('nearest partner: <%= @nearest.name + " " + @nearest.full_address %>');
$('.distance').html('direction: <%= @bearing %>, distance: <%= @distance %>');
$('.barname').html('<%= @nearest.name %>');
bearing = <%= @bearing %>;
distance = <%= (@distance * 1000).round %>;
console.log(distance);