.compass {
    font-size: 5em;
    text-align: center;
    transform-origin: 50% 50%;
}
.hidden { visibility: hidden
}
.barname {
    text-align: center;
    font-size: 3em;
}
html { font-family: Helvetica, Arial;
}